*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow: hidden;
  height: 100%;
}
body{
  overflow: auto;
  overscroll-behavior: none; 

}
canvas{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}
img{
  display:none;
}
#log{
  position: absolute;
  z-index:2;
  color: red;
  font-family: "Teko", sans-serif;
}